{% extends "user_pagebase.html" %}

{% block pagecontent %}

<div class="column is-9">
    <section class="hero is-link welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% if order.status == "Unfulfilled" %}Manage Order{% endif %}{% if order.status == "Fulfilled" %}View Order{% endif %}
                </h1>
            </div>
        </div>
    </section>

    <section class="hero is-small">
        <div class="hero-body">
        </div>
    </section>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="notification {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <section>
        <form method="POST" action="/orders/manage/{{ order.id }}" enctype="multipart/form-data">
            <table class="table is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-centered" scope="col">Order ID</th>
                <th class="has-text-centered" scope="col">Order Date</th>
                <th class="has-text-centered" scope="col">Amount</th>
                <th class="has-text-centered" scope="col">Status</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td class="has-text-centered">Order #{{ order.id }}</td>
                        <td class="has-text-centered">{{ order.date }}</td>
                        <td class="has-text-centered">£{{ order.total }}</td>
                        <td class="has-text-centered"><span class="tag {% if order.status == "Unfulfilled" %}is-danger{% endif %}{% if order.status == "Fulfilled" %}is-success{% endif %}">{{ order.status }}</span></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" type="text" value="{{ order.address_firstname }}" name="addressfirstname" placeholder="1234 Main St" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" type="text" value="{{ order.address_lastname }}" name="addresslastname" placeholder="1234 Main St" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                </div>
            </div>
            <div class="field">
                <label class="label">Address Line 1</label>
                <div class="control">
                    <input class="input" type="text" value="{{ order.address_line1 }}" name="address1" placeholder="1234 Main St" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                </div>
            </div>
            <div class="field">
                <label class="label">Address Line 2</label>
                <div class="control">
                    <input class="input" type="text" {% if order.address_line2 != None %}value="{{ order.address_line2 }}"{% endif %} name="address2" placeholder="Apartment or suite" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <div class="field">
                        <label class="label">Town/City</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ order.address_city }}" name="city" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="control is-expanded">
                    <div class="field">
                        <label class="label">County</label>
                        <div class="control">
                            <input class="input" type="text" {% if order.address_county != None %}value="{{ order.address_county }}"{% endif %} name="county" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="field">
                        <div class="label">Postcode</div>
                        <div class="control">
                            <input class="input" type="text" value="{{ order.address_postcode }}" name="postcode" {% if order.status == "Fulfilled" %}disabled{% endif %}>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="field">
                <label class="label">Order Items</label>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-text-centered" scope="col">Product ID</th>
                        <th class="has-text-centered" scope="col">Name</th>
                        <th class="has-text-centered" scope="col">Price</th>
                        <th class="has-text-centered" scope="col">Quantity</th>
                        <th class="has-text-centered" scope="col">Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orderitems %}
                    <tr>
                        <td class="has-text-centered">Product #{{ item.product_id }}</td>
                        <td class="has-text-centered">{{ item.orderproduct.name }}</td>
                        <td class="has-text-centered">£{{ item.orderproduct.price }}</td>
                        <td class="has-text-centered">{{ item.quantity }}</td>
                        <td class="has-text-centered">£{{ item.quantity * item.orderproduct.price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if order.status == "Unfulfilled" %}
            <hr>
            <div class="columns">
                <div class="column">
                    <button class="button is-success is-medium is-fullwidth is-11" type="submit">Confirm Changes</button>
                </div>
        </form>
                <div class="column">
                    <form method="POST" action="/orders/manage/delete/{{ order.id }}">
                        <button class="button is-medium is-fullwidth is-danger is-1" type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
            </div>
            {% endif %}
    </section>

    <section class="hero is-small">
        <div class="hero-body">
        </div>
    </section>
</div>

{% endblock %}